<div class="vh-100 d-flex align-items-center justify-content-center row">
    <div class="">
        <div class="text-center border-0 rounded-lg mt-5 mx-auto p-5" style="width: 50rem;">
            <h1 class="display-2 text-black text-cente">
                OPPS!
            </h1>

            <h3 class="display-1 text-muted text-center">
                404
            </h3>

            <span class="mb-2 text-muted text-center">
                Page Could Not Be Found
            </span>

            <div class="mx-auto m-2">
                <a type="button" class="btn btn-sm btn-info text-white" routerLink="/"> Back To Home </a>
            </div>
        </div>
    </div>
</div>