<nav class="navbar navbar-expand-lg navbar-dark bg-dark px-0 py-3" [ngClass]="{'shrink': isNavbarShrunk}">
    <div class="container-xl">

        <a class="navbar-brand" routerLink="/admin/home">
            Admin Header
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
            aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarCollapse">

            <div class="navbar-nav mx-lg-auto">
                <a class="nav-item nav-link" routerLink="./home" routerLinkActive="avtive" aria-current="page">Home</a>
                <a class="nav-item nav-link" routerLink="./about" routerLinkActive="avtive">About</a>
                <a class="nav-item nav-link" routerLink="./services" routerLinkActive="avtive">Services</a>
                <a class="nav-item nav-link" routerLink="./contact" routerLinkActive="avtive">Contact</a>
            </div>

            <span class="nav-item">

            </span>

            <div class="d-flex align-items-lg-center mt-3 mt-lg-0">
                <p class="text-white text-center d-flex justify-content-center mt-3 p-2">{{ userName }}</p>
                <a routerLink="/login" class="btn btn-sm btn-primary w-full w-lg-auto" (click)="logout()">
                    Logout
                </a>
            </div>
        </div>
    </div>
</nav>